# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
*.tfvars
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
*.zip

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
